body {
    background-color: rgb(1, 8, 19);
}
#inputParent {
    display: flex;
    justify-content: center;
    align-items: center;
}
#input {
    background-color: #34393C;
    color: white;
    width: 67vh;
    height: 6vh;
    border-radius: 2rem;
    border: 2px solid #4A5158;
    font-size: 100%;
}
#send {
    background-color: #34393C;
    color: white;
    width: 7vh;
    height: 6.5vh;
    border-radius: 2rem;
    border: 2px solid #4A5158;
    margin-left: 0.5%;
}
#send:hover {
    opacity: 0.8;
}
#sendIcon {
    width: 7vh;
    height: 5.5vh;
    margin: 0.4vh;
}
#statusParent {
    display: flex;
    justify-content: center;
    align-items: center;
}
#status {
    color: white;
}
#logoParent {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    height: 30vh;
    width: 20vh;
}
#resultParent {
    display: flex;
    justify-content: center;
    align-items: center;
}
#result {
    color: white;
}